.button {
  background-color: transparent;
  border: 1px solid #0a1e2d;
  box-sizing: border-box;
  display: inline-block;
  display: flex;
  align-items: center;
  height: 40px;
  line-height: 38px;
  outline: none;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 100%;
  cursor: pointer;
  &__content {
    display: block;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    text-transform: uppercase;
  }
  &--primary {
    color: white;
    background-color: #0a1e2d;
    &:hover, &:focus {
      color: #F9491F;
      background-color: white;
      border-color: #F9491F;
    }
  }
}