input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

form {
  text-align: start;
}

label {
  letter-spacing: 1px;
  margin-bottom: 20px;
  line-height: 16px;
}